<div id="overlay" style="display:none;">
    <div class="spinner"></div>
    <br />
    Getting data, this will take a few seconds
</div>
<div class="row">
    <form action="/datacleaning" method="POST">
        <div class="row">
            <div class="col-md-4 mt-5">
                {{#each errors}}
                <div>{{text}}</div>
                {{/each}}
                <div class="tableContainer">
                    <table class="table table-hover">
                        <thead class='table-dark'>
                            <tr class="text-center">
                                <th class="header" scope="col">Building</th>
                                <th class="header" scope="col">Meter Name</th>
                                <th class="header" scope="col">Building Number</th>
                                <th class="header" scope="col">Commodity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each allResults.Items}}
                            <tr class="bordered">
                                <td class="bordered">
                                    {{building_abbreviation}}
                                </td>
                                <td class="text-end bordered">
                                    {{meter}}
                                </td>
                                <td class="text-end bordered">
                                    {{building_number}}
                                </td>
                                <td class="text-end bordered">
                                    {{commodity_tag}}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="input-group flex-nowrap">
                    {{!-- <label for="modelStart">hello</label> --}}
                    <span class="input-group-text" id="addon-wrapping">Model Start Date:</span>
                    <input id="modelStart" type="text" class="form-control datepicker modelStart"
                        placeholder="yyyy/mm/dd" aria-label="Model Start Date" aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap mt-3">
                    <span class="input-group-text" id="addon-wrapping">Model End Date:</span>
                    <input type="text" class="form-control datepicker modelEnd" placeholder="yyyy/mm/dd"
                        aria-label="Model End Date" aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap mt-5">
                    <span class="input-group-text" id="addon-wrapping">Analysis Start Date:</span>
                    <input type="text" class="form-control datepicker analysisStart" placeholder="yyyy/mm/dd"
                        aria-label="Analysis Start Date" aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap mt-3">
                    <span class="input-group-text" id="addon-wrapping">Analysis End Date:</span>
                    <input type="text" class="form-control datepicker analysisEnd" placeholder="yyyy/mm/dd"
                        aria-label="Analysis End Date" aria-describedby="addon-wrapping">
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Base Temp:</div>
                            Cras justo odio
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">% Auto-Ignored:</div>
                            Cras justo odio
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Slope:</div>
                            Cras justo odio
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Intercept:</div>
                            Cras justo odio
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">R-Squared:</div>
                            Cras justo odio
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Std Dev:</div>
                            Cras justo odio
                        </div>
                    </li>
                </ul>

                {{!-- <div class="col-md-8">
                    <table class="table mt-4 table-bordered border-secondary modelData">
                        <tbody>
                            <tr style="width: 10px">
                                <td>Base Temp:</td>
                                <td class="baseTemp"></td>
                            </tr>
                            <tr>
                                <td>% Auto-Ignored:</td>
                                <td class="autoIgnored"></td>
                            </tr>
                            <tr>
                                <td>Slope:</td>
                                <td class='slope'></td>
                            </tr>
                            <tr>
                                <td>Intercept:</td>
                                <td class='intercept'></td>
                            </tr>
                            <tr>
                                <td>R-squared:</td>
                                <td class='r2'></td>
                            </tr>
                            <tr>
                                <td>Std Dev:</td>
                                <td class="stdDev"></td>
                            </tr>
                        </tbody>
                    </table>
                </div> --}}
            </div>
        </div>
    </form>
    <div class="d-grid gap-2 mt-4">
        <button class="btn btn-primary apiGateway" type="button">Run Model</button>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-md-6">
            <canvas id="myChart" width="100" height="100"></canvas>
        </div>
        <div class="col-md-6">
            <canvas id="myChart2" width="100" height="100"></canvas>
        </div>
    </div>
    <table class="table mt-4 table-bordered border-secondary mb-3">
        <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Temperature
            </th>
            <th>
                HDD
            </th>
            <th>
                Meter Reading
            </th>
            <th>
                Expected
            </th>
            <th>
                Copy
            </th>
            <th>
                Replacement
            </th>
            <th>
                Reason
            </th>
            <th>
                Notes
            </th>
        </tr>
        </thead>
        <tbody class='text-end'>
            <tr>
                <td>Base Temp:</td>
                <td class="baseTemp"></td>
            </tr>
            <tr>
                <td>% Auto-Ignored:</td>
                <td class="autoIgnored"></td>
            </tr>
            <tr>
                <td>Slope:</td>
                <td class='slope'></td>
            </tr>
            <tr>
                <td>Intercept:</td>
                <td class='intercept'></td>
            </tr>
            <tr>
                <td>R-squared:</td>
                <td class='r2'></td>
            </tr>
            <tr>
                <td>Std Dev:</td>
                <td class="stdDev"></td>
            </tr>
        </tbody>
    </table>
</div>