<div class="card border-secondary w-100 text-light mb-3" style="background-color: #333f48">
    <h5 style="background-color: #bf5700;" class="card-header">M+V</h5>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered text-light text-end">
                <thead>
                    <tr>
                        <th></th>
                        <th scope="col">CHW</th>
                        <th scope="col">ELE</th>
                        <th scope="col">STM</th>
                        <th scope="col">HHW</th>
                        <th scope="col">GAS</th>
                        <th scope="col">Dom Water</th>
                        <th scope="col">Peak CHW</th>
                        <th scope="col">Maintenance</th>
                        <th scope="col">Total</th>
                        <th scope="col">Miscellaneous</th>
                        <th scope="col">Annual Cash Flow</th>
                        <th scope="col">Payback</th>
                        <th scope="col">NPV</th>
                    </tr>
                </thead>
                <tbody class="text-end">
                    <tr id="decimal">
                        <th scope="row">%</th>
                        {{#with chw}}
                        <td class="percent">{{savings_percent}}</td>
                            {{else}}
                            <td></td>
                            {{/with}}
                        {{#with ele}}
                        <td class="percent">{{savings_percent}}</td>
                            {{else}}
                            <td></td>
                            {{/with}}
                        {{#with stm}}
                            <td class="percent">{{savings_percent}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                        {{#with hhw}}
                            <td class="percent">{{savings_percent}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                        {{#with gas}}
                            <td class="percent">{{savings_percent}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                        {{#with water}}
                            <td class="percent">{{savings_percent}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                        {{#with peakchw}}
                            <td class="percent">{{savings_percent}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                        {{#with labor}}
                            <td class="percent">{{savings_percent}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                        {{#with percentTotal}}
                        <td class="percent">{{percent_total}}</td>
                        {{/with}}
                    </tr>
                    <tr>
                        <th scope="row">Plant mmbtu</th>
                        {{#with chw2}}
                            <td class="whole">{{plant_savings}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                        {{#with ele2}}
                            <td class="whole">{{plant_savings}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                        {{#with stm2}}
                            <td class="whole">{{plant_savings}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                        {{#with hhw2}}
                            <td class="whole">{{plant_savings}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        {{#with plantTotal}}
                            <td class="whole">{{plant_savings_sum}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                    </tr>
                    <tr>
                        <th scope="row">CTWater kg</th>
                            {{#with chw2_1}}
                            <td class="whole">{{plant_savings}}</td>
                            {{else}}<td></td>
                        {{/with}}
                    </tr>
                    <tr>
                        <th scope="row">UEM</th>
                        {{#with chw3}}
                        <td class="whole_dollar">{{fb_plus_fr}}</td>
                        {{else}}
                        <td></td>
                        {{/with}}
                        {{#with ele3}}
                        <td class="whole_dollar">{{fb_plus_fr}}</td>
                        {{else}}
                        <td></td>
                        {{/with}}
                        {{#with stm3}}
                        <td class="whole_dollar">{{fb_plus_fr}}</td>
                        {{else}}
                        <td></td>
                        {{/with}}
                        {{#with hhw3}}
                        <td class='whole_dollar'>{{fb_plus_fr}}</td>
                        {{else}}
                        <td></td>
                        {{/with}}
                        {{#with gas3}}
                        <td class="whole_dollar">{{fb_plus_fr}}</td>
                        {{else}}
                        <td></td>
                        {{/with}}
                        {{#with water3}}
                        <td class="whole_dollar">{{fb_plus_fr}}</td>
                        {{else}}
                        <td></td>
                        {{/with}}
                        <td></td>
                        {{#with labor3}}
                        <td class="whole_dollar">{{fb_plus_fr}}</td>
                        {{else}}
                        <td></td>
                        {{/with}}
                        {{#with total1}}
                            <td class='whole_dollar'>{{fb_fr_total}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                        {{#with misc1}}
                            <td class='whole_dollar'>{{misc_savings}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                        {{#with ann1}}
                            <td class='whole_dollar'>{{cash_flow}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                        {{#with payback1}}
                            <td class='years'>{{payback}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                        {{#with npv1}}
                            <td class='whole_dollar'>{{npv}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                    </tr>
                    <tr>
                        <th scope="row">UT</th>
                        {{#with chw4}}
                            <td class="whole_dollar">{{fb_plus_fr}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                        {{#with ele4}}
                        <td class="whole_dollar">{{fb_plus_fr}}</td>
                            {{else}}
                            <td></td>
                            {{/with}}
                        {{#with stm4}}
                        <td class="whole_dollar">{{fb_plus_fr}}</td>
                            {{else}}
                            <td></td>
                            {{/with}}
                        {{#with hhw4}}
                        <td class="whole_dollar">{{fb_plus_fr}}</td>
                            {{else}}
                            <td></td>
                            {{/with}}
                        {{#with gas4}}
                        <td class="whole_dollar">{{fb_plus_fr}}</td>
                            {{else}}
                            <td></td>
                            {{/with}}
                        {{#with water4}}
                        <td class="whole_dollar">{{fb_plus_fr}}</td>
                            {{else}}
                            <td></td>
                            {{/with}}
                        <td></td>
                        {{#with labor4}}
                            <td class="whole_dollar">{{fb_plus_fr}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                        {{#with total2}}
                            <td class='whole_dollar'>{{fb_fr_total}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                         {{#with misc2}}
                            <td class='whole_dollar'>{{misc_savings}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                        {{#with ann2}}
                            <td class='whole_dollar'>{{cash_flow}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                        {{#with payback2}}
                            <td class='years'>{{payback}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                        {{#with npv2}}
                            <td class='whole_dollar'>{{npv}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                    </tr>
                    <tr>
                        <th scope="row">AUX</th>
                        {{#with chw5}}
                            <td class="whole_dollar">{{fb_plus_fr}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                        {{#with ele5}}
                        <td class="whole_dollar">{{fb_plus_fr}}</td>
                            {{else}}
                            <td></td>
                            {{/with}}
                        {{#with stm5}}
                        <td class="whole_dollar">{{fb_plus_fr}}</td>
                            {{else}}
                            <td></td>
                            {{/with}}
                        {{#with hhw5}}
                        <td class="whole_dollar">{{fb_plus_fr}}</td>
                            {{else}}
                            <td></td>
                            {{/with}}
                        {{#with gas5}}
                        <td class="whole_dollar">{{fb_plus_fr}}</td>
                            {{else}}
                            <td></td>
                            {{/with}}
                        {{#with water5}}
                        <td class="whole_dollar">{{fb_plus_fr}}</td>
                            {{else}}
                            <td></td>
                            {{/with}}
                        <td></td>
                        {{#with labor5}}
                            <td class="whole_dollar">{{fb_plus_fr}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                        {{#with total3}}
                            <td class='whole_dollar'>{{fb_fr_total}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                         {{#with misc3}}
                            <td class='whole_dollar'>{{misc_savings}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                        {{#with ann3}}
                            <td class='whole_dollar'>{{cash_flow}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                        {{#with payback3}}
                            <td class='years'>{{payback}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                        {{#with npv3}}
                            <td class='whole_dollar'>{{npv}}</td>
                            {{else}}
                            <td></td>
                        {{/with}}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>